<!--Mask-->
<div class="view hm-black-light">
    <div class="full-bg-img flex-center pattern-4">
        <ul style="width: 60%">
            <li>
                <!--<h1 class="h1-responsive wow fadeInUp title"><strong>Vui Lòng Nhập Link Video</strong></h1>-->
                <div class="md-form">
                    <button class="btn btn-lg btn-warning waves-effect waves-dark" ng-click="gen()">Gen Comment</button>
                </div>
            </li>
            <li>
                <div class="alert alert-success" id="success-alert" ng-show="email">
                        <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
                        <strong>Khởi Tạo Comment Thành Công</strong>
                    </div>

                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <div class="col-md-11">
                        <div class="md-form">
                            <textarea type="text" id="form7" class="md-textarea" style="color: #fff" readonly ng-model="ran"></textarea>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-lg btn-default waves-effect waves-dark" clipboard text="ran">copy</button>
                    </div>

                    <div class="col-md-11">
                        <div class="md-form">
                            <input type="text" id="form2" class="form-control validate" style="color: #fff" ng-model="email" readonly>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-lg btn-default waves-effect waves-dark" clipboard text="email">copy</button>
                    </div>

                    <div class="col-md-11">
                        <div class="md-form">
                            <input type="text" id="form2" class="form-control validate" style="color: #fff" ng-model="full_name" readonly>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-lg btn-default waves-effect waves-dark" clipboard text="full_name">copy</button>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</div>
<!--/.Mask-->